.custom-phone-input {
    border: 1px solid #d1d5db !important; 
    border-radius: 0.5rem !important;    
    height: 37.6px !important;
    width: 100% !important;
}


.custom-phone-input:focus{
    border: 1px solid #1996A6 !important;
     /* height: 40px !important; */
}

.custom-phone-button {
    border: 1px solid #d1d5db !important; 
    border-right: hidden !important;
    border-radius: 0.5rem 0 0 0.5rem !important;
    
}

.custom-phone-button-focused{
    border: 1px solid #1996A6 !important;
    border-right: hidden !important;
    border-radius: 0.5rem 0 0 0.5rem !important;
}

.custom-phone-error{
    border: 1px solid red !important; 
    border-radius: 0.5rem !important;
    height: 40px !important;
    width: 100% !important;
}
.custom-phone-error-button {
    border: 1px solid red !important; 
    border-right: hidden !important;
    border-radius: 0.5rem 0 0 0.5rem !important;
}
  
.large{
    height: 46px !important;
}

.phone-field-disabled{
    background-color: #f3f4f6 !important;
    cursor: not-allowed !important;
    color: #94a3b8 !important;
}

@media (max-width: 640px) {
    .custom-phone-input {
        height: 34.1px !important; /* Adjust the height for screens 640px or less */
    }
    .large{
        height: 42.1px !important;
    }
}
