.ant-carousel .slick-dots li {
    margin: 0; /* Reduce the margin between dots */
  }
  
  .ant-carousel .slick-dots li button {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #D4D4D4;
  }